#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  
}
.empresa{
  background-color: #173660;
}
nav {
  padding: 30px;
  background-color: #173660;
  height: 80px; 
  a {
    font-weight: bold;
    color: white;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.footer{
  background-color: #173660;
}
.footer-copyright{
  color:white
}